html,body
{
width:100%;
height:100%;
margin:0px;
text-align:center;
}
a
{
text-decoration:none;
color:inherit;
}
form,input,div
{
padding:0px;
margin:0px;
float:left;
outline:none;
border:none;
}
/**/
html
{
font-family:'Lato',sans-serif;
}
body
{
background-color:#eee;
margin-top:88px;
}
div#topbar
{
width:100%;
height:64px;
position:fixed;
top:0px;
left:0px;
background-color:#fff;
border-bottom:4px solid #ddd;
}
div#topbarinr
{
width:1024px;
height:64px;
float:none;
margin:0px auto;
}
div#topbarlogo
{
width:128px;
height:64px;
color:#666;
line-height:64px;
font-size:24px;
}
div#topbarlogin
{
width:100px;
height:32px;
margin-bottom:32px;
line-height:32px;
background-color:#63C041;
font-size:12px;
color:#fff;
float:right;
}
div#content
{
width:100%;
}
div#contentinr
{
width:1024px;
float:none;
margin:0px auto;
}
div.panel
{
width:1024px;
height:512px;
background-color:#fff;
}
div.panelside
{
width:500px;
height:496px;
margin:8px 0px 8px 8px;
color:#666;
}
div.panelheader
{
width:484px;
height:50px;
margin:0px 8px;
line-height:50px;
border-bottom:4px solid #2F870E;
font-size:24px;
}
form.panelform
{
width:484px;
height:426px;
margin:8px;
background-color:#fff;
}
input.panelminimal,div#paneldisclaimer
{
width:484px;
height:32px;
background-color:#f2f2f2;
color:#666;
text-indent:8px;
line-height:32px;
font-size:16px;
margin-bottom:8px;
}
div#paneldisclaimer
{
background-color:#63C041;
color:#fff;
}